.text-selector-card {
  .select-font-area {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .color-picker {
    box-shadow: none !important;
    border-radius: 5px !important;
    margin-bottom: 20px;
    width: 100% !important;

    & > div {
      & > .flexbox-fix:last-child {
        display: none !important;
      }
    }
  }
}