@import "../../assets/styles/variables";

.button-primary {
  height: $inputHeight;
  padding: 12px 25px;
  border-radius: $inputHeight;
  border: 0;
  line-height: 0;
  font-weight: 300;
  color: white;
  background-image: linear-gradient(to right, #FF3A74, #FF7269);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  transition: 0.2s;

  .fas {
    line-height: 0px;
  }

  &:hover {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}
