@import "../../../assets/styles/variables";

.form-control {
  position: relative;

  .text-input {
    height: $inputHeight;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 5px 0px;
    color: #ffffff;

    &:focus {
      outline: 0;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 0px;
  }

  .text-input:focus ~ label,
  .text-input.active ~ label {
    top: -17px;
    font-size: 10px;
    color: #ececec
  }
}
