.image-list-item {
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  }
}