@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: url('./../fonts/saira/saira-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/saira/saira-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  src: url('./../fonts/saira/saira-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: url('./../fonts/saira/saira-extrabold.ttf') format('truetype');
}
