#context-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  #context-menu {
    background-color: #fdfdfd;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 12px;
    border-radius: 5px;
    z-index: 2;

    & > div {
      padding: 5px 20px;
      transition: 0.2s;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover {
        background-color: #dedede;
      }
    }
  }
}