$headerHeight: 60px;
#simple-editor-page {
  div > #card {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  & > .layout-holder {
    display: grid;
    grid-template-areas: 'left center center center center center center center center center center center right';
    min-height: calc(100vh - #{$headerHeight});

    & > .right-menu, & > .left-menu {
      background-color: #2F485A;
      padding: 20px 35px;
      z-index: 1;
    }

    & > .left-menu {
      box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.15);
      grid-area: left;
    }

    & > .right-menu {
      box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.15);
      grid-area: right;
    }

    & > .center-area {
      grid-area: center;

      .konvajs-content {
        margin: auto;
        margin-top: 20px;
        border: 1px solid #a0a0a0;
        margin-bottom: 20px;
      }
    }
  }

  & > header {
    background-color: #1E2F3B;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    padding: 0 30px;
    height: $headerHeight;
    line-height: $headerHeight;

    & > .action-buttons {
      display: inline-block;
      position: absolute;
      right: 30px;

      & > button {
        margin-right: 10px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    & > img {
      height: $headerHeight - 20;
      margin-top: (20px / 2);
    }
  }
}