@import "fonts/saira";
@import "fonts/open-sans";

@import "variables";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Saira, serif;
  background-color: $backgroundColor;
  font-size: 15px;
}

.card {
  background-color: white;
  border-radius: 10px;
}

.center-align {
  text-align: center;
}